{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.competition) }} --> <a href="{{ path('new_competition') }}">New Competition</a>
    {{ form_row(form.season) }} --> <a href="{{ path('new_season') }}">New Season</a>
    {{ form_row(form.team1) }} --> <a href="{{ path('new_team') }}">New Team</a>
    {{ form_row(form.team2) }} --> <a href="{{ path('new_team') }}">New Team</a>
    {{ form_row(form.phase) }} --> <a href="{{ path('new_phase') }}">New Phase</a>
    {{ form_row(form.observations) }}
    {{ form_row(form.dateLastSeen) }}
    {{ form_row(form.times_seen) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

