{% extends 'common/base.html.twig' %}

{% block body %}
    Available locations:
    {% for location in locations %}
        {{ location.name }},
    {% endfor %}
    <hr>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

